<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Roadsurfer Dashboard</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h2>Roadsurfer Dashboard</h2>

        {% for data in dashboard %}
            <h3>
                {{ data.station }}
                {% if data.calendar|length == 0 %}
                    <small> - No bookings for this station</small>
                {% endif %}
            </h3>

            {% for date, equipments in data.calendar %}
                <h4><strong>Date: </strong> {{ date }}</h4>
                <table>
                    <tr>
                        <th>Equipment Name</th>
                        <th>Stock</th>
                        <th>Booked</th>
                        <th>Remaining Stock</th>
                    </tr>
                    {% for equipment in equipments %}
                        <tr>
                            <td>{{ equipment.equipment }}</td>
                            <td>{{ equipment.stock }}</td>
                            <td>{{ equipment.booked }}</td>
                            <td>{{ equipment.available }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            <hr/>
        {% endfor %}
    </body>
</html>
